/* TODO Add site wide styles */
.logo, h2 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
} 

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 32px; 
}