@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700&display=swap');

.card {
    position: relative;
    display: flex;
    flex-direction: row;
    margin:20px;
}

.card-image {
    box-sizing: border-box;
    border: 1px solid #333;
    display: block;
    padding: 20px;
}

.card-image img {
    display: block;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
}

.card-info {
    padding: 0 10px;
}

.card h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}
.card p {
    font-family: 'Raleway', sans-serif;
}

