.booking-grid {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    margin: 10px 20px;
}
.calendar-grid {
    display: grid;
    width: 280px;
    grid-template-columns: repeat(7, 1fr);
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    justify-items: center;
    margin: 40px;
}

.calendar-grid .header {
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid #AAA;
    text-align: center;
}
.calendar {
    box-sizing: border-box;
    width: 360px;
    min-height: 210px;
    position: relative;
}

.booking-grid .time {
    box-sizing: border-box;
    min-width: 360px;
    position: relative;
    margin-left: 20px;
    padding: 0 20px 20px 20px;
    border-left: 1px solid #AAA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking-grid .time button {
    margin-top: 15px;
    padding: 5px;
    width: 80px;
    align-self: center;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    border-radius: 0;
    border: 1px solid #AAA;
}

.booking-grid .time button:hover {
    background: linear-gradient(to right, red, orange);
    color: #fff;
}

.calendar h2, .time-picker h2 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.calendar .prev-month,.calendar .next-month {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: linear-gradient(to right, red, orange);
    padding: 0;
}
.calendar .prev-month button,.calendar .next-month button{
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,1);
    border: none;
    border-radius: 50%;
    color: #333;
    box-shadow: 0 0 2px 0px #000;
    transition: background-color 1s, box-shadow 1s;
}

.calendar .prev-month:hover button,.calendar .next-month:hover button {
    background-color: rgba(255,255,255,0);
    color: #fff;
    box-shadow: 0 0 0 0 #fff;
    transition: background-color 1s, box-shadow 1s;
}

.calendar .prev-month {
    left: 0;
}
.calendar .next-month {
    right: 0;
}

.day {
    width: 100%;
    text-align: center;
    border-radius: 50%;
}

.day.radio {
    background: linear-gradient(45deg, rgba(0,255,0,0.3),rgba(255, 255, 0, 0.3));
}

.day.selected,.day.check:hover,.day.radio:hover {
    background: linear-gradient(45deg, rgba(255,0,0,1),rgba(255,165,0,1));
    color: #fff;
    cursor: pointer;
}

.time-picker span{
    display: flex;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    width: 70px;
    height: 40px;
    background: linear-gradient(45deg, rgba(0,255,0,0.3),rgba(255, 255, 0, 0.3));
    color: #333;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.time-picker span:hover,.time-picker span.selected {
    background: linear-gradient(45deg, rgba(255,0,0,1),rgba(255,165,0,1));
    color: #fff;
}
.time-picker {
    display: flex;
    flex-wrap: wrap;

}